In [36]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('../assets/liga1920.csv')
liga1920 = df[df['HomeTeam']=='Barcelona']
liga1920[liga1920['FTAG']==0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
79,SP1,06/10/2019,20:00,Barcelona,Sevilla,4,0,H,3,0,...,2.61,-1.00,1.72,2.07,1.75,2.21,1.81,2.26,1.75,2.15
169,SP1,18/12/2019,19:00,Barcelona,Real Madrid,0,0,D,0,0,...,2.83,-0.75,1.89,2.04,1.88,2.04,1.90,2.06,1.86,2.01
199,SP1,19/01/2020,20:00,Barcelona,Granada,1,0,H,0,0,...,3.31,-2.25,1.96,1.97,1.95,1.97,1.98,2.05,1.90,1.97
241,SP1,22/02/2020,15:00,Barcelona,Eibar,5,0,H,3,0,...,2.84,-2.00,2.07,1.86,2.02,1.89,2.09,2.00,1.98,1.89
262,SP1,07/03/2020,17:30,Barcelona,Sociedad,1,0,H,0,0,...,2.76,-1.50,2.03,1.90,2.02,1.89,2.07,1.94,1.99,1.88
284,SP1,16/06/2020,21:00,Barcelona,Leganes,2,0,H,1,0,...,2.40,-1.75,2.00,1.93,1.97,1.94,2.02,2.04,1.92,1.95
304,SP1,23/06/2020,21:00,Barcelona,Ath Bilbao,1,0,H,0,0,...,2.35,-1.75,1.87,2.03,1.89,2.03,1.90,2.13,1.86,2.01
344,SP1,08/07/2020,21:00,Barcelona,Espanol,1,0,H,0,0,...,2.67,-2.00,1.94,1.99,1.90,2.00,1.96,2.05,1.89,1.98

In [16]:
df = pd.read_csv('../assets/liga1920.csv')
liga1920 = df[df['AwayTeam']=='Barcelona']
liga1920[liga1920['FTHG']==0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
62,SP1,28/09/2019,15:00,Getafe,Barcelona,0,2,A,0,1,...,1.69,0.25,2.11,1.82,2.12,1.81,2.26,1.85,2.11,1.80
81,SP1,19/10/2019,12:00,Eibar,Barcelona,0,3,A,0,1,...,2.40,1.25,1.86,2.07,1.83,2.09,2.00,2.21,1.85,2.04
148,SP1,01/12/2019,20:00,Ath Madrid,Barcelona,0,1,A,0,0,...,1.71,0.00,2.03,1.90,2.03,1.88,2.14,1.92,2.03,1.85
276,SP1,13/06/2020,21:00,Mallorca,Barcelona,0,4,A,0,2,...,2.66,1.50,1.90,2.03,1.85,2.07,2.10,2.07,1.94,1.94
292,SP1,19/06/2020,21:00,Sevilla,Barcelona,0,0,D,0,0,...,1.96,0.25,2.08,1.85,2.08,1.85,2.09,1.96,2.05,1.83
351,SP1,11/07/2020,18:30,Valladolid,Barcelona,0,1,A,0,1,...,2.11,1.50,1.99,1.94,1.99,1.93,2.12,1.99,1.95,1.93
370,SP1,19/07/2020,16:00,Alaves,Barcelona,0,5,A,0,3,...,2.46,1.25,2.05,1.88,2.05,1.86,2.11,1.95,2.01,1.87

In [25]:
df = pd.read_csv('../assets/liga1819.csv')
liga1819 = df[df['HomeTeam']=='Barcelona']
liga1819[liga1819['FTAG']==0]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
2,SP1,18/08/2018,Barcelona,Alaves,3,0,H,0,0,D,...,3.18,19,-2.50,1.95,1.91,2.00,1.95,1.10,11.85,32.17
136,SP1,02/12/2018,Barcelona,Villarreal,2,0,H,1,0,H,...,3.23,21,-2.00,2.08,1.99,1.92,1.87,1.24,6.89,12.49
164,SP1,22/12/2018,Barcelona,Celta,2,0,H,2,0,H,...,4.74,22,-2.50,1.85,1.79,2.14,2.07,1.14,9.89,18.60
187,SP1,13/01/2019,Barcelona,Eibar,3,0,H,1,0,H,...,3.61,23,-2.50,2.15,1.98,1.93,1.88,1.17,8.07,17.37
231,SP1,16/02/2019,Barcelona,Valladolid,1,0,H,1,0,H,...,3.07,17,-2.00,1.79,1.75,2.19,2.13,1.14,9.04,23.66
282,SP1,30/03/2019,Barcelona,Espanol,2,0,H,0,0,D,...,3.46,22,-2.00,1.85,1.79,2.13,2.07,1.19,7.40,17.18
300,SP1,06/04/2019,Barcelona,Ath Madrid,2,0,H,0,0,D,...,1.97,19,-0.75,2.00,1.97,1.94,1.90,1.75,3.80,5.41
342,SP1,27/04/2019,Barcelona,Levante,1,0,H,0,0,D,...,3.00,21,-1.50,1.77,1.72,2.25,2.16,1.18,7.55,17.24
362,SP1,12/05/2019,Barcelona,Getafe,2,0,H,1,0,H,...,2.27,21,-1.00,1.93,1.87,2.04,1.98,1.48,4.47,7.66

In [26]:
df = pd.read_csv('../assets/liga1819.csv')
liga1819 = df[df['AwayTeam']=='Barcelona']
liga1819[liga1819['FTHG']==0]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
14,SP1,25/08/2018,Valladolid,Barcelona,0,1,A,0,0,D,...,2.80,20,2.00,2.13,2.07,1.83,1.79,18.04,7.67,1.19
142,SP1,08/12/2018,Espanol,Barcelona,0,4,A,0,3,A,...,2.36,22,1.00,2.08,2.03,1.87,1.83,8.23,5.02,1.40
157,SP1,16/12/2018,Levante,Barcelona,0,5,A,0,2,A,...,3.74,22,2.00,1.92,1.85,2.25,2.01,13.50,8.10,1.19
206,SP1,27/01/2019,Girona,Barcelona,0,2,A,0,1,A,...,2.58,22,1.50,1.95,1.92,2.01,1.95,10.12,5.66,1.32
225,SP1,10/02/2019,Ath Bilbao,Barcelona,0,0,D,0,0,D,...,2.21,22,1.00,1.73,1.64,2.39,2.30,5.27,3.74,1.75
253,SP1,02/03/2019,Real Madrid,Barcelona,0,1,A,0,1,A,...,2.64,18,0.25,1.78,1.74,2.20,2.15,2.65,3.80,2.64
312,SP1,13/04/2019,Huesca,Barcelona,0,0,D,0,0,D,...,2.30,20,1.00,1.77,1.70,2.31,2.23,3.02,3.55,2.43
330,SP1,23/04/2019,Alaves,Barcelona,0,2,A,0,0,D,...,2.56,21,1.50,1.79,1.74,2.20,2.14,7.90,4.61,1.45

In [24]:
df = pd.read_csv('../assets/liga1718.csv')
liga1718 = df[df['HomeTeam']=='Barcelona']
liga1718[liga1718['FTAG']==0]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
6,SP1,20/08/17,Barcelona,Betis,2,0,H,2,0,H,...,2.88,17,-2.00,2.05,2.00,1.91,1.86,1.20,8.25,15.20
21,SP1,09/09/17,Barcelona,Espanol,5,0,H,2,0,H,...,3.19,14,-2.00,1.83,1.78,2.17,2.11,1.13,10.40,23.13
65,SP1,01/10/17,Barcelona,Las Palmas,3,0,H,0,0,D,...,5.48,15,-3.00,1.92,1.88,2.03,1.99,1.09,15.25,26.00
80,SP1,21/10/17,Barcelona,Malaga,2,0,H,1,0,H,...,4.64,18,-3.00,1.89,1.85,2.08,2.03,1.07,17.00,35.00
154,SP1,17/12/17,Barcelona,La Coruna,4,0,H,2,0,H,...,4.43,18,-2.75,1.88,1.84,2.06,2.03,1.13,10.86,21.53
174,SP1,07/01/18,Barcelona,Levante,3,0,H,2,0,H,...,5.20,18,-3.25,1.93,1.85,2.08,2.02,1.06,18.50,46.00
224,SP1,11/02/18,Barcelona,Getafe,0,0,D,0,0,D,...,3.39,20,-2.50,1.97,1.93,1.98,1.94,1.14,8.80,24.50
265,SP1,04/03/18,Barcelona,Ath Madrid,1,0,H,1,0,H,...,1.91,19,-0.75,1.96,1.92,1.99,1.94,1.66,4.07,5.70
285,SP1,18/03/18,Barcelona,Ath Bilbao,2,0,H,2,0,H,...,2.68,20,-2.25,2.03,1.95,1.97,1.91,1.17,8.35,21.00
378,SP1,20/05/18,Barcelona,Sociedad,1,0,H,0,0,D,...,5.04,19,-2.00,1.94,1.89,2.03,1.97,1.31,6.40,8.60

In [27]:
df = pd.read_csv('../assets/liga1718.csv')
liga1718 = df[df['AwayTeam']=='Barcelona']
liga1718[liga1718['FTHG']==0]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
12,SP1,26/08/17,Alaves,Barcelona,0,2,A,0,0,D,...,2.38,14,1.50,2.05,2.00,1.92,1.89,10.13,5.83,1.33
52,SP1,23/09/17,Girona,Barcelona,0,3,A,0,1,A,...,2.78,17,2.00,1.75,1.70,2.30,2.20,13.64,7.06,1.24
91,SP1,28/10/17,Ath Bilbao,Barcelona,0,2,A,0,1,A,...,2.36,18,1.25,1.93,1.89,2.03,1.99,7.61,5.03,1.45
113,SP1,18/11/17,Leganes,Barcelona,0,3,A,0,1,A,...,2.23,18,1.50,1.90,1.82,2.13,2.05,9.03,5.00,1.41
148,SP1,10/12/17,Villarreal,Barcelona,0,2,A,0,0,D,...,2.53,23,1.00,2.03,1.95,1.95,1.91,5.81,4.54,1.60
167,SP1,23/12/17,Real Madrid,Barcelona,0,3,A,0,0,D,...,2.98,17,-0.25,1.85,1.83,2.09,2.05,2.21,3.90,3.21
195,SP1,21/01/18,Betis,Barcelona,0,5,A,0,0,D,...,3.51,19,2.00,1.72,1.66,2.38,2.29,10.39,6.63,1.29
231,SP1,17/02/18,Eibar,Barcelona,0,2,A,0,1,A,...,2.28,19,1.25,1.82,1.79,2.14,2.08,8.23,5.06,1.42
273,SP1,10/03/18,Malaga,Barcelona,0,2,A,0,2,A,...,2.30,19,1.50,2.12,2.08,1.84,1.79,10.30,5.22,1.36

In [31]:
df = pd.read_csv('../assets/liga1617.csv')
liga1617 = df[df['HomeTeam']=='Barcelona']
liga1617[liga1617['FTAG']==0]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
72,SP1,15/10/16,Barcelona,La Coruna,4,0,H,3,0,H,...,3.45,27,-2.5,1.95,1.89,2.01,1.96,1.14,10.49,22.39
93,SP1,29/10/16,Barcelona,Granada,1,0,H,0,0,D,...,5.65,25,-3.5,2.04,1.92,2.00,1.94,1.05,22.05,42.50
112,SP1,19/11/16,Barcelona,Malaga,0,0,D,0,0,D,...,3.54,33,-2.5,2.08,2.00,1.91,1.86,1.21,7.65,16.50
170,SP1,14/01/17,Barcelona,Las Palmas,5,0,H,1,0,H,...,4.29,26,-2.5,1.82,1.78,2.14,2.08,1.12,11.40,25.50
200,SP1,04/02/17,Barcelona,Ath Bilbao,3,0,H,2,0,H,...,3.30,27,-2.0,2.07,2.02,1.88,1.84,1.30,6.15,11.00
249,SP1,04/03/17,Barcelona,Celta,5,0,H,2,0,H,...,4.33,20,-2.5,1.95,1.91,2.00,1.96,1.16,10.12,17.00
293,SP1,05/04/17,Barcelona,Sevilla,3,0,H,3,0,H,...,4.22,22,-2.0,2.03,1.97,1.92,1.88,1.21,8.35,13.15

In [30]:
df = pd.read_csv('../assets/liga1617.csv')
liga1617 = df[df['AwayTeam']=='Barcelona']
liga1617[liga1617['FTHG']==0]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
17,SP1,28/08/16,Ath Bilbao,Barcelona,0,1,A,0,1,A,...,2.35,33,1.0,2.06,2.00,1.90,1.85,6.33,4.37,1.58
54,SP1,24/09/16,Sp Gijon,Barcelona,0,5,A,0,2,A,...,2.58,33,2.0,1.68,1.64,2.38,2.30,12.93,6.79,1.26
142,SP1,10/12/16,Osasuna,Barcelona,0,3,A,0,0,D,...,3.06,26,2.0,2.12,2.04,1.92,1.82,25.65,10.05,1.13
186,SP1,22/01/17,Eibar,Barcelona,0,4,A,0,1,A,...,2.77,26,1.5,2.07,2.00,1.92,1.85,11.03,6.27,1.30
208,SP1,11/02/17,Alaves,Barcelona,0,6,A,0,2,A,...,2.32,23,1.5,2.00,1.94,1.96,1.91,11.35,5.84,1.31
340,SP1,29/04/17,Espanol,Barcelona,0,3,A,0,0,D,...,3.03,19,2.0,2.08,2.01,1.93,1.85,13.50,7.10,1.24

# 19/20 season 無失点確率分布

In [32]:
38C15 * 15/38**15 * 23/38**23

In [43]:
liga1920df =  df[['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]
liga1920df.mean()

FTHG    1.436842
FTAG    1.042105
dtype: float64